* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #ffece1;
    box-shadow: 0px 10px 10px #f3dfd3;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18.75px;
    font-weight: 500;
    padding: 30px 0;
}

nav .fa-solid {
    color: #649483;
}

.nav-item img {
    width: 100%;
}

.nav-item-list {
    display: flex;
    list-style-type: none;
}

.nav-item-list li {
    padding: 0 35px;
}

.nav-item-list li a {
    text-decoration: none;
    color: #649483;
}

.nav-right {
    padding-top: 20px;
}

.nav-right-item {
    list-style-type: none;
    display: flex;
}

.nav-right-item li {
    padding: 0 30px;
}

.nav-item-list li a {
    text-decoration: none;
    color: #649483;
    font-weight: 600;
    font-size: 18.75px;
}

.nav-right-meal {
    background-color: #649483;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 175px;
    font-size: 18.75px;
}

.nav-right-meal a {
    text-decoration: none;
    color: #fff;
}

nav .fa-solid {
    color: #649483;
}

.mealplan-main {
    background-color: #ffece1;
    padding: 0 35px;
    background-image: url(../image/s1.png);
    background-repeat: no-repeat;
    background-position: -60px -50px;
}

.mealplan-details {
    text-align: center;
    padding: 10px 50px
}

.mealplan-details h1 {
    font-size: 18px;
    color: #649483;
    font-weight: 500;
}

.mealplan-details p {
    font-size: 15px;
    color: #649483;
    font-weight: 400;
}

.meal-item-text {
    transform: rotate(-90deg);
    position: absolute;
    margin: 0 auto;
    padding-top: 106px 0;
    color: #fff;
    font-size: 17.32px;
    font-weight: 700;
    top: 85px;
    left: -30px;
    z-index: 11;
}

.mealplan-slider {
    position: relative;
}

.mealplan-main .slick-slide {
    padding: 15px 55px;
}

.mealplan-main img {
    width: 100%;
}

.mealplan-bgimg {
    box-shadow: 3px 13px 46px -29px #000;
    border-radius: 50%;
}

.meal-item {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.mealplan-description h1 {
    color: #dd7017;
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    font-family: 'Open Sans';
}

.meal-item li a {
    text-decoration: none;
    padding: 0 20px;
    font-weight: 600;
    margin-right: 10px;
    background-color: #649483;
    font-size: 15.85px;
    border-radius: 10px;
    padding: 5px;
    border: 5px solid #649483;
    color: #fff;
}

.meal-item-img {
    background-color: #e66600;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 20px;
}

.meal-item-img img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.meal-item-img p {
    margin: 0 auto;
    text-align: center;
    font-size: 11.87px;
    padding: 10px 0;
    color: #fff;
    font-weight: normal;
}

.meal-slide-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    background-color: transparent;
    border: 0;
    transform: translate(0, -50%);
}

.meal-slide-arrow img {
    width: auto;
}

.mealplan-main .fa-solid {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 30px;
    color: #fff;
}

.mealplan-main button .fa-solid {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #fff;
    background: #e66600;
}

.meal-fav-main {
    background-color: #649483;
}

.meal-fav-card {
    background-color: #ffece1;
    border-radius: 15px;
    text-align: center;
    padding: 30px 20px;
    width: 100%;
}

.meal-fav-card img {
    box-shadow: 3px 13px 46px -29px #000;
    border-radius: 50%;
    max-width: 100%;
}

.meal-fav-card h1 {
    color: #649483;
    font-size: 18.8px;
    padding: 0 90px;
}

.meal-fav-card p {
    font-size: 18.8px;
    color: #649483;
    padding: 20px 38px;
}

.meal-fav-details h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 46px;
    color: #ffece1
}

.meal-fav-details p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 17.32px;
    color: #ffece1
}

.testimonial-main {
    background-color: #649483;
}

.testimonial {
    padding: 70px 0;
}

.testimonial h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    font-weight: 600;
    color: #ffece1;
}

.testimonial-main .card {
    background-color: #649483;
    border: none;
    text-align: center;
}

.testimonial-main .card img {
    width: 100px;
    margin: 0 auto;
}

.testimonial-main .card-body {
    color: #ffece1;
}

.mealplanjourney-main {
    background-color: #ffece1;
    background-position: -24px -14px;
    background-repeat: no-repeat;
    background-image: url(../image/s1.png);
    position: relative;
}

.mealplanjourney-main ::after {
    background-repeat: no-repeat;
    background-image: url(../image/s1.png);
    content: '';
    position: absolute;
}

.mpj-right {
    text-align: right;
}

.mpj-details {
    text-align: center;
}

.mpj-details-inner {
    width: 750px;
    margin: 0 auto;
}

.mpj-details-inner h1 {
    font-size: 46px;
    font-weight: 800;
    font-family: 'Open Sans';
    color: #dd7017;
}

.mpj-details-inner p {
    font-size: 18.8px;
    color: #649483;
    padding: 0 70px;
}

.mpj-details-inner a {
    color: #ffece1;
    text-decoration: underline;
    width: 30%;
    background: #649483;
    border-radius: 11px;
    font-size: 18.px;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.footer-sec {
    background-color: #649483;
    padding: 100px 0;
}

.footer-menu {
    padding: 0;
}

.footer-menu li {
    padding: 3px 0;
    list-style-type: none;
}

.footer-menu li input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 3px solid #ffece1;
    border-radius: 10px;
    background-color: #649483;
    color: #ffece1;
    padding: 5px;
}

.footer-menu li a {
    text-decoration: none;
    font-size: 18;
    font-size: 18px;
    color: #ffece1;
    font-weight: normal;
    font-family: 'Open Sans';
}

.footer-list h3 {
    font-size: 23.51px;
    color: #ffece1;
    font-weight: 600;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-copyright span {
    color: #ffece1;
    FONT-SIZE: 18PX;
    FONT-WEIGHT: 500;
}

.footer-right-icon {
    display: flex;
}

.footer-right-icon li {
    list-style-type: none;
}

.footer-right-icon li a {
    padding: 10px;
    color: #ffece1;
}

.footer-right-icon .fa-brands {
    color: #ffece1;
    font-size: 30px;
}

.recipes-section {
    background-color: #ffece1;
    padding: 125px 0;
}

.recipes-section h2 {
    font-size: 111px;
    font-weight: bold;
    color: #dd7017;
    margin-bottom: 30px;
}

.recipes-section p {
    font-size: 18px;
    color: #649483;
    font-weight: bold;
}

.recipes-box {
    position: relative;
}

img {
    max-width: 100%;
}

.recipes-box a {
    text-decoration: none;
    font-size: 18px;
    color: #fff4ee;
    background-color: #649483;
    font-weight: bold;
    padding: 13px 22px;
    display: inline-block;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recipes-april-section {
    background-image: url(../image/s1.png);
    background-repeat: no-repeat;
    background-position: -60px -50px;
}

@media screen and (max-width: 767px) {
    .meal-item {
        padding: 10px 0!important;
        flex-direction: column;
    }
    .meal-item li {
        margin-bottom: 30px;
    }
    .meal-fav-card {
        margin-bottom: 20px;
    }
    .recipes-section h2 {
        font-size: 60px;
    }
    .mpj-details-inner {
        width: 360px;
        margin: 0;
    }
    .mpj-details-inner p {
        padding: 0px;
    }
    .nav-right-item li {
        padding: 0 10px;
    }
    .mealplan-main .slick-slide {
        text-align: center;
    }
    .mealplan-description h1 {
        font-size: 50px;
    }
}